* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: 'Open Sans', sans-serif;
}

.countiner {
    background-color: white;
    max-width: 600px;
    margin: 50px auto;
    border-top: 8px solid blue;
    line-height: 1.6;
    box-shadow: 5px 5px 10px 0px #a4bac1;
}

.list {
    border-bottom: 1px solid #dce7eb;
    padding: 15px 15px 15px 40px;
    cursor: pointer;
}

.list-span {
    display: inline-block;
    text-decoration: none;
    position: relative;
}

.list-span::before {
    content: "+";
    font-size: 20px;
    position: absolute;
    left: -16px;
    top: -4px;
    color: blue;
}

.open .list-span::before {
    content: "-";
    font-size: 20px;
    position: absolute;
    left: -16px;
    top: -4px;
    color: blue;
}

.paragtapth {
    display: none;
}